[submodule "dionaea"]
	path = dionaea
	url = https://github.com/DinoTools/dionaea.git
[submodule "cowrie"]
	path = cowrie
	url = https://github.com/cowrie/cowrie.git
[submodule "p0f"]
	path = p0f
	url = https://github.com/p0f/p0f.git
[submodule "conpot"]
	path = conpot
	url = https://github.com/mushorg/conpot.git
[submodule "snare_tanner/phpox"]
	path = snare_tanner/phpox
	url = https://github.com/mushorg/phpox.git
[submodule "snare_tanner/snare"]
	path = snare_tanner/snare
	url = https://github.com/mushorg/snare.git
[submodule "snare_tanner/tanner"]
	path = snare_tanner/tanner
	url = https://github.com/mushorg/tanner.git
[submodule "platform/mhn"]
	path = platform/mhn
	url = https://github.com/threatstream/mhn.git
[submodule "opencanary"]
	path = opencanary
	url = https://github.com/thinkst/opencanary.git
[submodule "beeswarm"]
	path = beeswarm
	url = https://github.com/honeynet/beeswarm.git
[submodule "platform/spiderfoot"]
	path = platform/spiderfoot
	url = https://github.com/smicallef/spiderfoot.git
[submodule "HoneyPy"]
	path = HoneyPy
	url = https://github.com/foospidy/HoneyPy.git
[submodule "drupot"]
	path = drupot
	url = https://github.com/d1str0/drupot.git
[submodule "Honeyd"]
	path = Honeyd
	url = https://github.com/DataSoft/Honeyd
[submodule "miniprint"]
	path = miniprint
	url = https://github.com/sa7mon/miniprint.git
[submodule "artillery"]
	path = artillery
	url = https://github.com/BinaryDefense/artillery.git
