[submodule "dionaea"]
	path = dionaea
	url = https://github.com/DinoTools/dionaea.git
[submodule "cowrie"]
	path = cowrie
	url = https://github.com/cowrie/cowrie.git
[submodule "p0f"]
	path = p0f
	url = https://github.com/p0f/p0f.git
[submodule "conpot"]
	path = conpot
	url = https://github.com/mushorg/conpot.git
